<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="import-js">

        <!-- jQuery -->
        <script th:src="@{/resources/core-plugins/jquery/jquery.min.js}"></script>
        
        <!-- jQuery UI -->
        <script th:src="@{/resources/core-plugins/jquery-ui/jquery-ui.min.js}"></script>

        <!-- Bootstrap -->
        <script th:src="@{/resources/core-plugins/popper/popper.min.js}"></script>

        <!-- Bootstrap -->
        <script th:src="@{/resources/core-plugins/bootstrap/js/bootstrap.min.js}"></script>

        <!-- FastClick -->
        <script th:src="@{/resources/core-plugins/fastclick/fastclick.js}"></script>

        <!-- NProgress -->
        <script th:src="@{/resources/core-plugins/nprogress/nprogress.js}"></script>

        <!-- Clock Picker -->
        <script th:src="@{/resources/core-plugins/jquery-clockpicker/jquery-clockpicker.min.js}"></script>

        <!-- Bootstrap Touchspin-->
        <script th:src="@{/resources/core-plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>

        <!-- loadingoverlay -->
        <script th:src="@{/resources/core-plugins/loadingoverlay/loadingoverlay.min.js}"></script>

        <!-- iCheck -->
		<!--<script th:src="@{/resources/core-plugins/icheck-bootstrap/icheck.min.js}"></script>-->

        <!-- Moment.js -->
        <script th:src="@{/resources/core-plugins/moment/moment.min.js}"></script>

        <!-- DateRangePicker -->
        <script th:src="@{/resources/core-plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
        
        <!-- Datapicker Boostrap -->
        <script th:src="@{/resources/core-plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
        <script th:src="@{/resources/core-plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js}"></script>

        <!-- Inputmask -->
        <script th:src="@{/resources/core-plugins/jquery.inputmask/dist/inputmask/jquery.masknumber.min.js}"></script>
        <script th:src="@{/resources/core-plugins/jquery.inputmask/dist/inputmask/jquery.mask.min.js}"></script>
        <script th:src="@{/resources/core-plugins/jquery.inputmask/jquery.inputmask.bundle.min.js}"></script>
        
        <!-- jQuery Mask Money -->
        <script th:src="@{/resources/core-plugins/jquery.maskmoney/jquery.maskMoney.min.js}"></script>

        <!-- PNotify -->
        <script th:src="@{/resources/core-plugins/pnotify/dist/pnotify.js}"></script>
        <script th:src="@{/resources/core-plugins/pnotify/dist/pnotify.animate.js}"></script>

        <!-- FileSaver -->
        <script th:src="@{/resources/core-plugins/FileSaver/FileSaver.js}"></script>

        <!-- Autonumeric -->
        <script th:src="@{/resources/core-plugins/autonumeric/autoNumeric.min.js}"></script>

        <!-- BootStrap Toggle -->
        <script th:src="@{/resources/core-plugins/bootstrap-toggle/js/bootstrap-toggle.min.js}"></script>

        <!-- Filestyle -->
        <script th:src="@{/resources/core-plugins/bootstrap-filestyle/bootstrap-filestyle.min.js}"></script>

        <!-- BootStrap Multiselect -->
        <script th:src="@{/resources/core-plugins/bootstrap-multiselect/bootstrap-multiselect.js}"></script>

        <!-- Bootstrap Chosen -->
        <script th:src="@{/resources/core-plugins/bootstrap.chosen/chosen.jquery.js}"></script>

        <!-- THEME -->
        <script th:src="@{/resources/core-template/theme/js/adminlte.min.js}"></script>
        <script th:src="@{/resources/core-template/theme/js/demo.js}"></script>

        <!-- Application -->
        <script th:src="@{/resources/core-js/app.js}"></script>

    </th:block>
</body>