<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<footer th:fragment="footer" class="main-footer" style="padding-top: 8px; padding-bottom: 8px;">
		<div class="float-right d-none d-sm-block">
		  <a href="#" style="float:right">
			<img th:src="@{/resources/core-images/logo/footer-logo.png}" style="width:36px;height:36px"/>
		  </a>
		</div>
		<div style="line-height:36px; text-align:right;"> 
		  <span class="fa fa-copyright" aria-hidden="true"></span> Todos os direitos reservados. 
		  <a href="#" style="padding:0px 10px 0px 0px">
			SGA
		  </a>
		</div>
	  </footer>
</body>