<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{core-layout/layout-pages/layout-master}">

<head>
    <title>Listar Locations</title>

</head>

<body>
    <th:block layout:fragment="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="text-dark">Locations</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div id="card" class="card">
                            <div class="card-header">
                                <h3 class="card-title btn-float-right">
                                    <i class="fas fa-search"></i>
                                    Pesquisar Locations
                                </h3>
                                <a th:href="@{/location/form}"
                                    class="float-right btn btn-default btn-sm min-width-100px">
                                    <i class="fas fa-plus"></i>
                                    Cadastrar Location
                                </a>
                            </div>

                            <div class="card-body">
                                
                                <form id="location-list" th:action="@{/location}" th:object="${location}" method="get">
                                    
                                    <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
                                    
                                    <input id="country-id" type="hidden" th:field="${location.country.id}"/>
                                    <input id="region-id" type="hidden" th:field="${location.country.region.id}"/>
                                
                                    <dialect:messages/>

                                    <div id="fragment-filters">
                                        <div th:fragment="fragment-filters">

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group" >
                                                        <label for="streetAddress" class="form-label">Endereço</label>
                                                        <input id="streetAddress" type="text" class="form-control" 
                                                        th:field="${location.streetAddress}"  />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" >
                                                        <label for="postalCode" class="form-label">CEP</label>
                                                        <input id="postalCode" type="text" class="form-control" 
                                                        th:field="${location.postalCode}"  />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" >
                                                        <label for="city" class="form-label">Cidade</label>
                                                        <input id="city" type="text" class="form-control" 
                                                         th:field="${location.city}"  />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group" >
                                                        <label for="city" class="form-label">Estado</label>
                                                        <input id="city" type="text" class="form-control" 
                                                         th:field="${location.stateProvince}"  />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" >
                                                        <label for="country" class="form-label">Country</label>
                                                        <div class="input-group input-group">
                                                            <input id="country-name" type="text" class="form-control" readonly
                                                                th:field="${location.country.name}">
                                                            <div class="input-group-append">
                                                                <span data-toggle="tooltip" title="Clique para selecionar o Country">
                                                                    <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#region-modal-list"
                                                                        onclick="javascript:ModalPesquisaCountry.show()">
                                                                        <i class="fas fa-search"></i>
                                                                    </button>
                                                                </span>
                                                                <span data-toggle="tooltip" title="Clique para limpar o Country selecionado">
                                                                    <button type="button" class="btn btn-danger btn-flat"
                                                                        onclick="javascript:ModalPesquisaCountry.limparDestinos()">
                                                                        <i class="fas fa-times"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group" >
                                                        <label for="name" class="form-label">Region</label>
                                                        <div class="input-group input-group">
                                                            <input id="region-name" type="text" class="form-control" readonly
                                                                th:field="${location.country.region.name}">
                                                            <div class="input-group-append">
                                                                <span data-toggle="tooltip" title="Clique para selecionar Region">
                                                                    <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#region-modal-list"
                                                                        onclick="javascript:ModalPesquisaRegion.show()">
                                                                        <i class="fas fa-search"></i>
                                                                    </button>
                                                                </span>
                                                                <span data-toggle="tooltip" title="Clique para limpar Region selecionada">
                                                                    <button type="button" class="btn btn-danger btn-flat"
                                                                        onclick="javascript:ModalPesquisaRegion.limparDestinos()">
                                                                        <i class="fas fa-times"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-success btn-sm min-width-100px margin-right-10"
                                                        id="emitir-location-excel"
                                                        onclick="javascript:LocationList.ExportarExcel(this)"
                                                        th:data-url="@{/location/export-excel}"
                                                        th:data-nome-documento="'location.xls'"
                                                        data-id-content="fragment-filters"
                                                        data-id-content-spinner="card"
                                                        data-file-type="application/x-xls"
                                                        title="Clique para Gerar Relatório em Excel" data-toggle="tooltip">
                                                        <i class="fas fa-file-excel"></i>
                                                        Emitir Relatório Excel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-sm min-width-100px"
                                                        id="emitir-location-pdf"
                                                        onclick="javascript:LocationList.ExportarPdf(this)"
                                                        th:data-url="@{/location/export-pdf}"
                                                        th:data-nome-documento="'location.pdf'"
                                                        data-id-content="fragment-filters"
                                                        data-id-content-spinner="card"
                                                        data-file-type="application/pdf"
                                                        title="Clique para Gerar Relatório em Pdf" data-toggle="tooltip">
                                                        <i class="fas fa-file-pdf"></i>
                                                        Emitir Relatório PDF
                                                    </button>
                                                    <button type="submit" class="btn btn-primary btn-sm min-width-100px float-right button-loading-body">
                                                        <i class="fas fa-filter"></i>
                                                        Refinar Pesquisa
                                                    </button>
                                                    <a th:href="@{/location}"
                                                        class="btn btn-default btn-sm min-width-100px float-right" style="margin-right: 5px;">
                                                        <i class="fas fa-backspace"></i>
                                                        Limpar
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>

                                    <div id="fragment-table-content">
                                        <div th:fragment="fragment-table-content">
                                            
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group table-responsive">
                                                        <table class="table table-bordered table-hover text-nowrap">
                                                            <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Endereço</th>
                                                                <th>CEP</th>
                                                                <th>Cidade</th>
                                                                <th>Estado</th>
                                                                <th>Country</th>
                                                                <th>Region</th>
                                                                <th style="width: 40px;"></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="location, rowStat : ${page.content}"
                                                                th:id="'tr-'+${rowStat.index}">

                                                                <td th:text="${location.id}"></td>
                                                                <td th:text="${location.streetAddress}"></td>
                                                                <td th:text="${location.postalCode}"></td>
                                                                <td th:text="${location.city}"></td>
                                                                <td th:text="${location.stateProvince}"></td>
                                                                <td th:text="${location.country.name}"></td>
                                                                <td th:text="${location.country.region.name}"></td>

                                                                <td class="text-right py-0 align-middle">
                                                                    <a th:href="@{location/form/}+${location.id}" class="btn btn-default btn-xs btn-table">
                                                                        <i class="fas fa-pencil-alt"></i>
                                                                    </a>
                                                                    <a th:href="@{location/delete/}+${location.id}" class="btn btn-danger btn-xs btn-table">
                                                                        <i class="fas fa-trash"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <tr th:if="${#lists.isEmpty(page.content)}">
                                                                <td colspan="8" class="text-center">Nenhum registro encontrado.</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="text-xs" th:text="${page.pageInfo}"></span>

                                    <div class="form-group">
                                        <dialect:pagination page="${page}" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="@{pages/country/country-modal-list} :: country-modal-list"></div>
            <div th:replace="@{pages/region/region-modal-list} :: region-modal-list"></div>
        </section>
    </th:block>

    <th:block layout:fragment="self-page-javascripts">
        <!-- JS da página -->
        <script th:src="@{/resources/pages-js/location/location-list.js}"></script>
        
		<script th:src="@{/resources/pages-js/country/country-modal-list.js}"></script>
		<script th:src="@{/resources/pages-js/region/region-modal-list.js}"></script>
    </th:block>
</body>

</html>